.main-chat
  .main-chat__group-name
    .main-chat__group-name__left-box
      .main-chat__group-name__left-box__current-group
        test
      .main-chat__group-name__left-box__member
        Member：
    
    =link_to 'Edit','#', class: "main-chat__group-name__edit-btn"
  .main-chat__message-list
  .main-chat__message-form