.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        masa
      .side-bar__user-name__box__icons
        = link_to '#' do
          = icon('fas', 'edit', class:'icon-btn')
        = link_to '#' do
          = icon('fas', 'cog', class:'icon-btn')
  .side-bar__group-list